modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start MongoDB and Bot"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Economy Bot"

[[workflows.workflow]]
name = "Discord Economy Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install discord.js mongoose && node index.js"

[[workflows.workflow]]
name = "Start MongoDB and Bot"
author = 40529223
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sudo service mongodb start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 2"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
